@font-face {
  font-family: "buzzcut_display";
  src: url(Buzzcut_Display.otf);
}  
  
  body {
    background: rgb(200, 255, 0);  
  margin: 10px;
  padding: 10px;

  font-family: "buzzcut_display";
  letter-spacing: 5px;

  padding: 20px;
}

selector {
  cursor: url('cursor.png'), auto;
}

.header {
  color: rgb(8, 0, 255);
  font-weight: 500;
  font-size: 50vw;
  font-style: normal;
  text-transform: uppercase;
  line-height: 400px;
  font-weight: normal;

}
.disc {
  color: rgb(8, 0, 255);
  font-weight: 600;
  font-size: 50px;
  font-style: normal;
  text-transform: capitalize;
  line-height: -1; 
}
